[Unit]
Description=The Keycloak Application Server
After=syslog.target network.target
Before=httpd.service

[Service]
EnvironmentFile=/opt/keycloak/keycloak.env
User=vagrant
LimitNOFILE=102642
PIDFile=/opt/keycloak/keycloak.pid
ExecStart=/opt/keycloak/keycloak-start.sh
ExecStop=/opt/keycloak/keycloak-stop.sh
ExecReload=/opt/keycloak/keycloak-restart.sh
StandardOutput=null
Restart=Always

[Install]
WantedBy=multi-user.target